---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Ryan Farley. <a href="https://github.com/cassidoo/blahg">This site is open source and stolen from cassidoo</a>!
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
