---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
    <div class="header-section">
        <div class="header-frame">
            <div class="text-content">
                <h1 class="site-title">ryan farley</h1>
                <h2 class="site-description">shuffling to the finish line at a tortoise's pace</h2>
            </div>
            <img src="/ryanheadshot.png" alt="Profile Picture" class="profile-picture">
        </div>
    </div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
	<HeaderLink href="https://pithandpip.com">work</HeaderLink>
	<HeaderLink href=https://bsky.app/profile/ryanfarley.co">bluesky</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
